.profileWrapper {
    position: relative;
    margin-top: 102px;
    width: 530px;
    height: 499px;
    background-color: #ffffffc1;
    color: black;
    display: inline-block;
    text-align: center;
    

    
    
    
}

.profilePage {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    }

.profileHeader {
    background-color: #EEF7F2;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.profileHeader p {
    font-size: 25px;
    margin: 0;
    color: #295A83;
    text-align: left;
    padding: 5px;
}

.profileContent {
    color: #616161;
}

.profileName {
    color: #64CF2E;
    margin-top: 0;
}

.profileData {
    text-align: left;
    padding-left: 120px;
    font-size: smaller;
}

.data {
    font-weight: bold;
    color: black;
} 

.LPanel {
    margin-left: 262px;
}