.sidebar {
    background-color: #295A83;
    max-width: 262.25px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 120px;
    min-width: 262.25px;
}

.sidebar li {
    list-style: none;
    color: white;
    font-size: 18px;
    border-bottom: 1px solid white;
    height: 55px;
    transition: all 0.5s;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}

.sidebar li:hover {
    background-color: rgba(255, 255, 255, 0.3);
}